.matches{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 40px;
   

}

.container-header--game{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.container-game{
    text-align: center;
    width: 80vw;
}